.full-page-wrapper {
    background: red;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
}

.pitch-container {
    background-color: #f0f0f0;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.pitch-header {
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}